<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/all.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/aboutus.css}" /> 
   <title>About Us - AR theater Online Movie Booking</title>
</head>

<body>
    <header></header>

    <main>
        <section class="about-us-section">
            <h1>About Us - Online Movie Booking</h1>
            <p>
                
AR Group was started with its flagship unit, Aries Marine, and then grown to become one of the largest multinational conglomerates in the Middle East with 42 companies operating in 15 countries across the world. Within a short span of 17 years, AR Group has collaborated with more than 2500 national and international clients and executed more than 25000 projects successfully. The new venture from the most trusted name Aries Group of Companies, AR Plex are at its best creating large-scale landmark multiplex's and state-of-the-art home theaters that can perfectly support today's entertainment needs. </p>
            <h2>Our Vision</h2>
            <p>
                AR Theaters aims to develop 50 multiplexes and 1000 screens across Kerala by 2025</p>
             <ul>
                <li><strong>Discover the Latest Movies:</strong> Explore a vast selection of movies from various genres - from action-packed blockbusters to heartwarming dramas. Stay updated with the latest releases and trailers.</li>
                <li><strong>Convenient Booking:</strong> Book tickets effortlessly from the comfort of your home. Our intuitive interface ensures that you can quickly find the movies you love and reserve your seats hassle-free.</li>
                <li><strong>Choose Your Cinema:</strong> Whether you prefer cozy indie cinemas or state-of-the-art multiplexes, we partner with a wide range of theaters to provide you with diverse options for your movie night.</li>
            </ul>
            <h2>Why Choose Us?</h2>
            <ol>
                <li><strong>User-Friendly Interface:</strong> Our website and mobile apps are designed with you in mind. Easily navigate through movie listings, showtimes, and theater information. Booking tickets has never been this simple.</li>
                <li><strong>Secure Transactions:</strong> Your security is our priority. We use advanced encryption technology to ensure that your payment information is always safe and secure when you book tickets through our platform.</li>
                <li><strong>24/7 Customer Support:</strong> Have a question or need assistance? Our dedicated customer support team is available around the clock to assist you with any inquiries or issues you might have.</li>
                <li><strong>Exclusive Offers:</strong> Enjoy exclusive discounts, special offers, and loyalty rewards as a valued member of our community. We believe in rewarding your love for movies.</li>
                <li><strong>Community Engagement:</strong> Join our movie-loving community. Connect with fellow film enthusiasts, share reviews, and stay engaged with the latest movie news and events.</li>
            </ol>
            
            <h2>Our Facilities</h2>
            <ol start="1">
                <li><strong>AUDI 1 : </strong>    Platinum Seats : 42 ,Executives Seats : 653 
			     <ul> <li>72 x 31 feet Imported Clarus XC220 Giant Silver Screen.</li>
			      <li>Barco 32B brightest new age 4K twin projectors.</li>
			      <li>Using two projectors simultaneously for brightness level of 66000 lumens with 4K resolution.</li>
			     <li>South India’s First 4K Twin Projectors.</li>
			    </ul>
			     </li>
			     <li><strong>AUDI 2 : </strong>    Gold Seats : 51 , Executives Seats : 152
			     <ul> <li>Imported Spectral 240 SP Silver Screen.</li>
			      <li>Barco DP2K – 20C brightest 2K projector.</li>
			      <li>Dolby Digital 5.1 Channel Sound System.</li>
			     <li>Belgium Imported Sofa Sets</li>
			    </ul>
			     </li>
			     <li><strong>AUDI 3 : </strong>    Executives Seats : 181
			     <ul> <li>Imported Spectral 240 SP Silver Screen.</li>
			      <li>Barco DP2K – 20C brightest 2K projector.</li>
			      <li>Dolby Digital 5.1 Channel Sound System</li>
			     <li>Belgium Imported Sofa Sets</li>
			    </ul>
			     </li>
			     <li><strong>AUDI 4: </strong>   Executives Seats : 252 Seats
			     <ul> <li>Imported Spectral 240 SP Silver Screen.</li>
			      <li>Barco DP2K – 20C brightest 2K projector.</li>
			      <li>Dolby Atmos 32 channels 80000 watts.</li>
			     <li>Belgium Imported Sofa Sets.</li>
			    </ul>
			     </li>
                </ol>
            <h2>Contact Us</h2>
            <p>
                We value your feedback and inquiries. Reach out to our dedicated customer support team at <a href="mailto:support@onlinefilmbooking.com">support@onlinefilmbooking.com</a> or give us a call at <strong>+1-123-456-7890</strong>. Your voice matters, and we're here to listen.
            </p>
            <p>
                Thank you for choosing Online Movie Booking for all your movie ticketing needs. We eagerly anticipate the opportunity to serve you and elevate your entertainment experience.
            </p>
            <p>Let's make your next trip to the movies extraordinary!</p>
        </section>
    </main>

    <footer>
        <p>Online Film Booking - Where Cinema Comes to Life  Online Film Booking. All Rights Reserved.</p>
    </footer>
</body>

</html>