<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/all.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/contact.css}" /> 
    <title>About Us - Online Movie Booking</title>
</head>

<body>
    <header></header>

    <main>
        <section class="contact-section">
            <h1>Contact Us - AR theaters</h1>
            <p>
            	Welcome to Online Film Booking, where your movie experience matters the most! Whether you have a question or need assistance, 
           		 our dedicated customer support team is here to transform your movie-going journey into something extraordinary. 
            	 Feel free to reach out; your cinematic adventure awaits!
            </p>
            
            <h2>How to Reach Us</h2>
            <p>
                <strong>Email:</strong> <a href="mailto:support@onlinefilmbooking.com">support@onlinefilmbooking.com</a><br>
                <strong>Phone:</strong> +91 2356893265
            </p>
            <h2>Visit Us</h2>
            <p>
                AR Theater Online Film Booking<br>
                 Sahodara Samajam Road<br>
                 Thampanoor<br>
                Trivandrum,Kerala
            </p>
            <h2>Connect With Us</h2>
            <ul>
                <li><strong>Follow us on Twitter:</strong> <a href="https://twitter.com/onlinefilmbooking">twitter.com/onlinefilmbooking</a></li>
                <li><strong>Like us on Facebook:</strong> <a href="https://www.facebook.com/onlinefilmbooking">facebook.com/onlinefilmbooking</a></li>
                <li><strong>Join our community on Reddit:</strong> <a href="https://www.reddit.com/r/onlinefilmbooking">reddit.com/r/onlinefilmbooking</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>Online Film Booking - Where Cinema Comes to Life. All Rights Reserved. © 2023 Online Film Booking.</p>
    </footer>
</body>

</html>